@model Metas.AplicacionWeb.Models.ViewModels.VMDepartamentos
@{
    ViewData["Title"] = "Iniciar Programación";
}
    <div class="mt-5 pb-4 pt-3 rounded-5 glass-effect" style="padding-left: 20px; padding-right: 25px">
        <div class="row">
            <div class="col">
                <div class="mt-2 text-center">
                    <label class="form-label fs-3 fw-bold titulo">Año Fiscal</label>
                </div>
            </div>
            <div class="col">
                <div class="mt-2 text-center">
                    <label class="form-label fs-3 fw-bold titulo">Departamentos</label>
                </div>
            </div>
        </div>
        <div class="row g-1">
            <div class="col">
                <div class="col-12">
                    <select class="titulo form-select input-arena" id="">
                        @{
                            var anoActual = DateTime.Now.Year;
                            var anoMaximo = anoActual + 1;
                            var anoMinimo = anoActual - 5;

                            for (int ano = anoMaximo; ano >= anoMinimo; ano--)
                            {
                                <option value="@ano">@ano</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="col-12" style="margin-left: 6px">
                    <select class="titulo form-select input-arena" id="selectDepartamento">
                        <option value="">-- Seleccione un departamento --</option>
                        @if (User.IsInRole("Administrador"))
                        {
                            @foreach (var act in Model.ListaDepartamentos)
                            {
                                <option value="@act.Value">@act.Text</option>
                            }
                        }
                        else
                        {
                            <option value="">@User.Claims.FirstOrDefault(c => c.Type == "Departamento")?.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div>
                <div class="mt-4 text-center">
                    <button class="boton-rojo" type="button">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    @* Tabla de busqueda *@
   @*  <div class="mt-5">
        <h2 class="fw-semibold text-center" style="color: #5b5b5b;">
            Ejercicio Fiscal 2026
        </h2>
        <div>
            <h5 class="fw-light" id="tituloDepartamento" style="color: #5b5b5b;">
                Departamento:
            </h5>
            <div>
                <div>
                    <!-- Tu tabla aquí -->
                </div>
            </div>
        </div>
    </div>     *@
